  div {
    background-color: blue;
    border: 2px solid black;
 }
 .header {
 	padding: 5px;
 }
 #logo1 {
    height: 130px;
    width: 200px;
 }
 .block1 { 
    display: inline-block;
    /*text-align: center;
    color: white;
    font-family: Impact, fantasy;
    font-stretch: ultra-expanded;
    font-weight: 600;*/
    margin: 5px;
    height: auto;
    width: auto;
 }
 .left {

 }
 .topmenu li {
 	height: 66px;
    display: inline-block;
    text-align: center;
    min-width: 80px;
    margin: 0;
    padding: 0;
 }
 .main {
 	margin: 0;
 	padding: 5px;
 }
 #menu {
     height: 66px;
    display: inline-block;
    text-align: center;
    min-width: 80px;
    margin: 0;
    padding: 0;
    list-style: none;
 }
 body {
    /*background: url(dodger.jpg) /* Цвет фона и путь к файлу (заменить картинку, разрешение 2к+) */
    no-repeat; /*Чтобы не было заполнения фона картинками*/
    background-size: 100%;
    margin: 0;
 }
