
body 
{
     font-family:Arial, Sans-Serif;
     background-image:  url(../0.jpg);
     background-repeat: no-repeat;
     background-color: grey;
     background-attachment: fixed;
     background-size: 100%;
     background-color: rgba(0, 0, 0, 0.7); 
   font-size:20px;
   font-weight: 700;
   color: white;
   font-family: 'Montserrat Alternates', sans-serif;
   text-align: center;
   line-height: 0.9;
    color: #fff;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
     text-shadow: 0px 0px 1px black, 0 0 1em grey;
    
}
.intro_inner {

   background-color: rgba(0, 0, 0, 0.7); 
   font-size:20px;
   font-weight: 700;
   color: white;
   font-family: 'Montserrat Alternates', sans-serif;
   text-align: center;
   line-height: 0.9;
    color: #fff;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
     text-shadow: 0px 0px 1px black, 0 0 1em grey;
     margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    align-content: center;
}

.clearfix:before, .clearfix:after{
     content: "";
     display: table;
}
.clearfix:after{
     clear: both;
}
a{
     color:#0067ab;
     text-decoration:none;
}
a:hover{
     text-decoration:underline;
}
.form{
    color: #fff;
    width: 300px;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
p, h1, h3 {
    color: white;
}
input[type='text'], input[type='email'],
input[type='password'] {
     width: 200px;
     border-radius: 2px;
     border: 1px solid #CCC;
     padding: 10px;
     color: #333;
     font-size: 14px;
     margin-top: 10px;
}
input[type='submit']{
     padding: 10px 25px 8px;
     color: #fff;
     background-color: #0067ab;
     text-shadow: rgba(0,0,0,0.24) 0 1px 0;
     font-size: 16px;
     box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0;
     border: 1px solid #0164a5;
     border-radius: 2px;
     margin-top: 10px;
     cursor:pointer;
}
input[type='submit']:hover {
     background-color: #024978;
}